DAEMON_HOST=127.0.0.1
DAEMON_PORT=4000
RUNNER_MODE=firecracker
VM_TTL_MINUTES=60
MAX_ACTIVE_VMS=10
VM_VCPU_COUNT=2
VM_MEMORY_MIB=2048
SSH_BOOT_TIMEOUT_MS=120000
PRESERVE_FAILED_VM_STATE=false
HOST_PUBLIC_IP=127.0.0.1
HOST_INTERFACE=eth0
GUEST_NETWORK_BASE=172.29.0.0
SSH_PORT_RANGE_START=2200
SSH_PORT_RANGE_END=2299
INSTANCE_BASE_DIR=/var/lib/biohacker/instances
BASE_IMAGE_PATH=/var/lib/biohacker/base-images/ubuntu-24.04.raw
KERNEL_IMAGE_PATH=/opt/biohacker/firecracker/vmlinux.bin
FIRECRACKER_BIN=/opt/biohacker/firecracker/firecracker
JAILER_BIN=/opt/biohacker/firecracker/jailer
