DAEMON_HOST=0.0.0.0
DAEMON_PORT=4000
RUNNER_MODE=mock
VM_TTL_MINUTES=60
MAX_ACTIVE_VMS=10
HOST_PUBLIC_IP=127.0.0.1
HOST_INTERFACE=eth0
SSH_PORT_RANGE_START=2200
SSH_PORT_RANGE_END=2299
INSTANCE_BASE_DIR=/var/lib/biohacker/instances
BASE_IMAGE_PATH=/var/lib/biohacker/base-images/ubuntu-24.04.raw
KERNEL_IMAGE_PATH=/opt/biohacker/firecracker/vmlinux.bin
FIRECRACKER_BIN=/opt/biohacker/firecracker/firecracker
JAILER_BIN=/opt/biohacker/firecracker/jailer
